<!DOCTYPE html>
<html lang="en-US">

<html>
    <head>
        <title>Ran Reichman's Website - Bookshelf</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <h3>Bookshelf</h3>
        <h2><a href="/" class="link_back">Back to Home Page</a></h2>
        <p style="font-family:Unispace;font-size: 12px;">(More stars is better)</p>
        <p id="books_data", style="white-space: pre;font-family:Unispace"></p>
        <script src="static/books_data.js"></script>
        <script src="static/load_books_data.js"></script>
    </body>
</html>