<!DOCTYPE html>
<meta charset=utf-8>
<html lang="en-US">

<html>
    <head>
        <title>Ran Reichman's Website - Bookshelf</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <h3>Bookshelf</h3>
        <h2><a href="/" class="link_back">Back to Home Page</a></h2>
        <p id="books_data"></p>
        <script src="static/books_data.js"></script>
        <script src="static/load_scored_data.js"></script>
        <script>loadScoredData('books_data', books, books_seperator);</script>
    </body>
</html>