<!DOCTYPE html>
<meta charset=utf-8>
<html lang="en-US">

<html>
    <head>
        <title>Ran Reichman's Website - Countries</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <h3>Countries</h3>
        <h2><a href="/" class="link_back">Back to Home Page</a></h2>
        <p id="countries"></p>
        <script>
            fetch("/countries.api")
            .then(response => response.json())
            .then(function(response) {
                var list = document.createElement('ol');
                var countries = response;

                for (country of countries) {
                    var item = document.createElement('li');

                    item.appendChild(document.createTextNode(country));

                    attribute_string = "font-size:4vw;margin:40px;margin-bottom:10px;font-family:Unispace";;

                    if (screen.width > 421){
                        attribute_string = "font-size:16px;margin:10px;margin-bottom:2px;font-family:Unispace";
                    }
                    item.setAttribute("style", attribute_string);

                    list.appendChild(item);
                }
                document.getElementById("countries").appendChild(list);
            })
        </script>
    </body>
</html>