<!DOCTYPE html>
<html lang="en-US">

<html>
    <head>
        <title>Ran Reichman's Website - Countries</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <h3>Countries</h3>
        <h2><a href="/" class="link_back">Back to Home Page</a></h2>
        <p id="countries_data"></p>
        <script src="static/countries_data.js"></script>
        <script>
            var list = document.createElement('ol');

            for (var i = 0; i < countries.length; i++) {
                var item = document.createElement('li');

                item.appendChild(document.createTextNode(countries[i]));
                item.setAttribute("style","margin:3px");

                fontsize_string = "4vw";

                if (screen.width > 421){
                    fontsize_string = "16px";
                }
                item.setAttribute("style","font-size:" + fontsize_string + ";margin-bottom:5px;font-family:Unispace");

                list.appendChild(item);
            }
            document.getElementById("countries_data").appendChild(list);
        </script>
    </body>
</html>