<!DOCTYPE html>
<html lang="en-US">

<html>
    <head>
        <title>Ran Reichman's Website</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <h1>Ran Reichman's Place On The Web</h1>
        <p><a href="interesting.html" class="regular">Articles</a></p>
        <p><a href="books.html", class="regular">Books</a></p>
        <p><a href="countries.html", class="regular">Countries</a></p>
        <p><a href="funny.html", class="regular">Funny</a></p>
        <p><a href="random.html", class="regular">Random Thoughts</a></p>
        <!--<p>HTTP Server is working!</p>-->
        <!--<a href="/interesting.html">test link</a>-->
        <!--<script src="static/script.js"></script>-->
    </body>
</html>