<!DOCTYPE html>
<meta charset=utf-8>
<html lang="en-US">

<html>
    <head>
        <title>Ran Reichman's Website</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <body>
        <h1>Ran Reichman's Place On The Web</h1>
        <p><a href="books.html", class="regular">Books</a></p>
        <p><a href="cool.html", class="regular">Cool</a></p>
        <p><a href="countries.html", class="regular">Countries</a></p>
        <p><a href="funny.html", class="regular">Funny</a></p>
        <p><a href="interesting.html" class="regular">Interesting</a></p>
        <p><a href="israel.html" class="regular">Israel</a></p>
        <p><a href="movies.html", class="regular">Movies</a></p>
        <p><a href="random.html", class="regular">Random Thoughts</a></p>
    </body>
</html>