<!DOCTYPE html>
<html dir="rtl" lang="en-US">

<html>
    <head>
        <title>Ran Reichman's Website - Israel</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <h3>ישראל</h3>
        <h2><a href="/" class="link_back">חזרה לדף הבית</a></h2>
        <p id="israel_data", style="font-family:Unispace"></p>
        <script src="static/israel_data.js"></script>
        <script src="static/load_list_data.js"></script>
        <script>loadListData('israel_data', israel);</script>
    </body>
</html>