<!DOCTYPE html>
<html lang="en-US">

<html>
    <head>
        <title>Ran Reichman's Website - DVD Rack</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <h3>DVD Rack</h3>
        <h2><a href="/" class="link_back">Back to Home Page</a></h2>
        <p id="movies_data"></p>
        <script src="static/movies_data.js"></script>
        <script src="static/load_scored_data.js"></script>
        <script>loadScoredData('movies_data', movies);</script>
    </body>
</html>