<!DOCTYPE html>
<meta charset=utf-8>
<html lang="en-US">

<html>
    <head>
        <title>Ran Reichman's Website - Random Thoughts</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <h3>Random Thoughts</h3>
        <h2><a href="/" class="link_back">Back to Home Page</a></h2>
        <p id="random", style="font-family:Unispace"></p>
        <script src="static/load_list_data.js"></script>
        <script>loadListData('random');</script>
    </body>
</html>