<!DOCTYPE html>
<meta charset=utf-8>
<html lang="en-US">

<html>
    <head>
        <title>Ran Reichman's Website - Test</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <h3>Test</h3>
        <h2><a href="/" class="link_back">Back to Home Page</a></h2>
        <p id="test"></p>
        <script src="static/post.js"></script>
        <script>
            json_for_post = {
            "link": "https://medium.learningbyshipping.com/windows-facing-the-new-decade-2010-2b479612d3fc?gi=c75ce2e39016",
            "content": "Windows: Facing the New Decade (2010–2020)"
            };
            post_data(json_for_post);
        </script>
    </body>
</html>