body {
    color: black;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
}

h2 {
    color: light gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
}

h3 {
    color: navy;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8vw;
    margin: 0
}

a.link_back:link {
  color: gray;
  text-decoration: none;
  text-transform: uppercase;
}

a.link_back:visited{
  color:gray;
}

a.regular:link {
  color: #3399ff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5vw;
}

a.regular:visited{
  color: #3399ff;
  font-weight: bold;
}